<div class="jumbotron nt-4">
    <h1 class="display-4">
        Notes App
    </h1>
    <p>Esto es una página momentanea desarrollada en Nodejs y Mongo DB.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, numquam saepe accusantium minus cumque in! Harum quasi laudantium tempora ab?. Hola..</p>
    <a href="http://pepeamoedo.com" class="btn btn-primary"> Author </a>
</div>