<div class="jumbotron nt-4">
    <h1 class="display-4">
        Notes App
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, illo commodi eaque neque recusandae alias unde quos tempora cupiditate itaque, molestiae sit ea rerum cumque voluptate! Harum cum eum nostrum!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, numquam saepe accusantium minus cumque in! Harum quasi laudantium tempora ab?</p>
    <a href="http://pepeamoedo.com" class="btn btn-primary"> Author </a>
</div>